<!DOCTYPE html>
<html>
    <head>
        <title>Upload</title>
    </head>
    <body>
        <form method="post" enctype="multipart/form-data" action="/uploadDB">
            <br><label for="title">Title</label><br>
            <br><input type="text" name="title"><br>
            <br><label for="descript">Description</label><br>
            <br><input type="text" name="descript"><br>
            <br><label for="upload">Photo in jpg</label><br>
            <br><input type="file" name="upload"><br>
            <br><button type="submit">Upload</button>
        </form>
    </body>
</html>